.main {
   p {   
      max-width: 1200px;
      margin: 0 auto 10px auto;
   }
   > div {
      max-width: 1200px;
      margin: 0 auto;
      background-color: white;
      padding: 12px 12px 32px;
   }
}