.header {
   background-color: #FFE600;
}

.logo {
   margin-right: 34px;
}

.search {
   width: 100%;
   border: 0;
}

.searchButton {
   margin-left: -60px;
}

.loader {
   position: absolute;
   right: 10px;
   top: 10px;
   width: 18px;
   height: 18px;
   animation: spin .8s linear infinite;
 }
 
 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }